/* Landing Page */

.LandingText {
    background-color: rgba(0, 0, 0, 0.4)!important;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left:0;
    color: white;
}

.LandingText div {
    padding: 0;
    top: 0;
}

h1{
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 20px;
}

h2{
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 20px;
}

.Button{
    padding: 10px 10px;
    background-color: #778566b7;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30vh;
}

.Mobile {
    display: none;
}


@media screen and (max-width: 676px) {
    h1 {
        font-size: 40px;
        letter-spacing: 15px;
    }
    h2{
        font-size: 25px;
        letter-spacing: 10px;
    }
}

@media screen and (max-width: 500px) {
    .Mobile {
        display: block;
        filter: brightness(100%)
    }
}

@media screen and (max-width: 450px) {
    h1{
        font-size: 30px;
        font-weight: 300;
        letter-spacing: 6px;
    }
    
    h2 {
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 6px;
    }
    .Button{
        font-size: 15px;
    }
    
}


