.Logo {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-right: 20px;
}

.Link {
    margin-right: 20px;
    color: #2d2e38;
    text-decoration: none!important;
}

.NavBar {

    z-index: 1;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.Social {
    margin-left: 20px;
    font-size: 30px;
    color: #2d2e38;
    text-align: center;
}
.Social:hover{
    cursor: pointer;
}