.Logo {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-right: 20px;
    color: white!important;
}

.Link {
    margin-right: 20px;
    color: white!important;
    text-decoration: none!important;
}

.NavBar {
    background-color: #778566!important;
    z-index: 1;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.Social {
    margin-left: 20px;
    font-size: 30px;
    color: white;
    text-align: center;
}
.Social:hover{
    cursor: pointer;
}